{{!-- 
username: user.username,
firstName: user.firstName,
lastName: user.lastName,
profession: user.profession,
bio: user.bio, 
--}}
<dl>
    <dt>Username: </dt>
    <dd>{{username}}</dd>
    <dt>First Name: </dt>
    <dd>{{firstName}}</dd>
    <dt>Last Name: </dt>
    <dd>{{lastName}}</dd>
    <dt>profession: </dt>
    <dd>{{profession}}</dd>
    <dt>bio: </dt>
    <dd>{{bio}}</dd>
</dl>
{{!-- Also, you will need to have a hyperlink at the bottom of the page to /logout. --}}
<a href="/logout">logout</a>