<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{{h1}}}</title>
    {{!-- <meta name="keywords" content="{{keywords}}" /> --}}
    {{!-- <link rel="stylesheet" href="/public/site.css"> --}}
    <link rel="stylesheet" href={{link.href}}>
</head>

<body>
    <h1>{{h1}}</h1>
    <main>
        {{!-- what is body from? what data it stands for? --}}
        {{{body}}}
    </main>
</body>

</html>