{{!-- <link rel="stylesheet" name = "stylesheetLink" href="{{stylesheetLink}}"/> --}}
<h1>{{title}}</h1>
<h2>{{searchedName}}</h2>

{{!-- do need to wrap in the body tag??? --}}

<body>

    {{!-- how to limit up to 20 --}}
    {{#if Found}}
    <ul>
        {{#each Person}}
        <li>
            <a href="/details/{{id}}">{{firstName}} {{lastName}}</a>
        </li>
        {{/each}}
    </ul>
    {{else}}
    <p class="not-found">We're sorry, but no results were found for {{searchedName}}.</p>
    {{/if}}

    <a href="/">Make another search</a>

</body>